{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/mmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="colors">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">     -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon-ligatures@2.5.0/fonts/remixicon.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script> 
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- Wrapper -->
    <div id="main_wrapper">
        <header id="header_part" class="fixed fullwidth_block dashboard">
            <div id="header" class="not-sticky">
                <div class="container">
                    <div class="utf_left_side">
                        <div id="logo"> <a href="{% url 'dashboard:dashboard' %}"><img src="{% static 'images/logo.png' %}" alt=""></a> <a href="{% url 'dashboard:dashboard' %}" class="dashboard-logo"><img src="{% static 'images/logo2.png' %}" alt=""></a> </div>
                        <div class="mmenu-trigger">
                            <button class="hamburger utfbutton_collapse" type="button">
                                <span class="utf_inner_button_box">
                                    <span class="utf_inner_section"></span>
                                </span>
                            </button>
                        </div>
                        <nav id="navigation" class="style_one">
                            <ul id="responsive">
                                <li><a href="{% url 'dashboard:dashboard' %}"> <i class="bi bi-grid"></i> Dashboard</a></li>
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                    <div class="utf_right_side">
                        <div class="header_widget">
                            <div class="dashboard_header_button_item {% if noti %} has-noti {% endif %} js-item-menu">
                                <i class="fas fa-bell"></i>
                                <div class="dashboard_notifi_dropdown js-dropdown">
                                    <div class="dashboard_notifi_title">
                                        <p>You Have {{noti.count}} Notifications</p>
                                    </div>
                                    
                                    {% for n in noti %}
                                        <div class="dashboard_notifi_item">
                                            <div class="bg-c1 red">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <div class="content">
                                                
                                                {% if n.type == "Booking Confirmed" %}
                                                    <p>Your booking <b>(#{{n.booking.booking_id}})</b> has been placed successfully.</p>
                                                {% endif %}
                                                <span class="date">{{n.date|timesince}} ago</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    
                                    {% if noti %}
                                        <div class="dashboard_notify_bottom text-center pad-tb-20">
                                            <a href="{% url 'dashboard:notifications' %}">View All Notifications</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="utf_user_menu">
                                <div class="utf_user_name"><span><img src="{{request.user.profile.image.url}}" alt=""></span>Hi, {{request.user.username|title}}!</div>
                                <ul>
                                    <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
                                    <li><a href="{% url 'dashboard:dashboard' %}"> My Profile</a></li>
                                    <li><a href="{% url 'dashboard:bookings' %}">Boking</a></li>
                                    <li><a href="{% url 'dashboard:wallet' %}">Wallet</a></li>
                                    <li><a href="{% url 'dashboard:bookmark' %}">Bookmarks</a></li>
                                    <li><a href="{% url 'dashboard:notifications' %}">Notifications</a></li>
                                    <li><a href="{% url 'userauths:sign-out' %}">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>
        
        {% block content %}
            
        {% endblock content %}
            
    </div>

    <!-- Scripts -->
    <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'scripts/chosen.min.js' %}"></script>
    <script src="{% static 'scripts/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'scripts/slick.min.js' %}"></script>
    <script src="{% static 'scripts/rangeslider.min.js' %}"></script>
    <script src="{% static 'scripts/magnific-popup.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
    <script src="{% static 'scripts/mmenu.js' %}"></script>
    <script src="{% static 'scripts/tooltips.min.js' %}"></script>
    <script src="{% static 'scripts/color_switcher.js' %}"></script>
    <script src="{% static 'scripts/jquery_custom.js' %}"></script>
    <script src="{% static 'scripts/custom.js' %}"></script>
    <script>
        (function($) {
            try {
                var jscr1 = $('.js-scrollbar');
                if (jscr1[0]) {
                    const ps1 = new PerfectScrollbar('.js-scrollbar');

                }
            } catch (error) {
                console.log(error);
            }
        })(jQuery);
    </script>
    
</body>

</html>