
{% extends 'partials/dashboard_base.html' %}
{% load static %}
{% block content %}
<div id="dashboard">
    <a href="#" class="utf_dashboard_nav_responsive"><i class="fa fa-reorder"></i> Dashboard Sidebar Menu</a>
    {% include 'partials/dashboard_sidebar.html' %}
    <div class="utf_dashboard_content">
        
       
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="utf_dashboard_list_box margin-top-0">
                    <h4><i class="fas fa-heart"></i> All Bookmarked Hotels</h4>
                    <ul>
                        
                        {% for b in bookmark %}
                            <li>
                                <div class="utf_list_box_listing_item">
                                    <div class="utf_list_box_listing_item-img">
                                        <a href="{% url 'hotel:detail' b.hotel.slug %}"><img src="{{b.hotel.image.url}}" alt=""></a>
                                    </div>
                                    <div class="utf_list_box_listing_item_content">
                                        <div class="inner">
                                            <h3>{{b.hotel.name}}</h3>
                                            <span><i class="fa fa-map-marker"></i> {{b.hotel.address}}</span>
                                            <span><i class="fa fa-envelope"></i> {{b.hotel.email}}</span>
                                            <span><i class="fa fa-phone"></i> {{b.hotel.mobile}}</span>
                                            <div class="utf_star_rating_section">
                                                <div class="utf_counter_star_rating">(4.5)</div>
                                                <span class="star"></span>
                                                <span class="star"></span>
                                                <span class="star"></span>
                                                <span class="star half"></span>
                                                <span class="star empty"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div> <a href="{% url 'dashboard:delete_bookmark' b.bid %}" class="button gray"><i class="fas fa-trash" style="color: red;"></i> Delete</a> </div>
                                </div>
                            </li>
                        {% empty %}
                        <li>
                            <h6>No Bookmarks Yet</h6>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
