
{% extends 'partials/dashboard_base.html' %}
{% load static %}
{% block content %}

    <div id="dashboard">
        <a href="#" class="utf_dashboard_nav_responsive"><i class="fa fa-reorder"></i> Dashboard Sidebar Menu</a>
        {% include 'partials/dashboard_sidebar.html' %}
        <div class="utf_dashboard_content">
            <div class="row"> 
                <div class="col-lg-12 col-md-12">
                  <div class="utf_dashboard_list_box margin-top-0">
                    <h4 class="gray"><i class="fas fa-check-circle"></i> Password Changed Successfully</h4>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
