
{% extends 'partials/dashboard_base.html' %}
{% load static %}
{% block content %}

    <div id="dashboard">
        <a href="#" class="utf_dashboard_nav_responsive"><i class="fa fa-reorder"></i> Dashboard Sidebar Menu</a>
        {% include 'partials/dashboard_sidebar.html' %}
        <div class="utf_dashboard_content">
            <div class="row"> 
                <div class="col-lg-12 col-md-12">
                  <div class="utf_dashboard_list_box margin-top-0">
                    <h4 class="gray"><i class="fas fa-lock"></i> Change Password</h4>
                    <div class="utf_dashboard_list_box-static"> 
                      
                      <div class="my-profile">
                        {{u_form.errors}}
                        {{p_form.errors}}
                        <form class="row with-forms" method="POST" >
                            {% csrf_token %}

                            <div class="col-md-12">
                                {{form}}					
                            </div>
                            
                            <div class="col-md-12">
                                <button class="button preview btn_center_item margin-top-15" type="submit">Change Password</button>
                            </div>
                          </form>	
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
